<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 19:09</span><h4>
    Activity by Father</h4><br>
    <hr class="w3-clear">
    <p>Kettle is turned off</p></div>
<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 19:29</span><h4>
    Activity by Father</h4><br>
    <hr class="w3-clear">
    <p>Lamp is turned off</p></div>
<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 19:34</span><h4>
    Activity by Father</h4><br>
    <hr class="w3-clear">
    <p>Lamp is turned on</p></div>