<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 19:01</span><h4>
    Activity by Son</h4><br>
    <hr class="w3-clear">
    <p>Lamp is turned on</p></div>
<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 19:33</span><h4>
    Activity by Son</h4><br>
    <hr class="w3-clear">
    <p>Lamp is turned on</p></div>
<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 14:45</span><h4>
    Activity by Father</h4><br>
    <hr class="w3-clear">
    <p>Lamp is turned on</p></div>
<div class="w3-container w3-card w3-white w3-round w3-margin"><br><span class="w3-right w3-opacity">at: 14:46</span><h4>
    Activity by Father</h4><br>
    <hr class="w3-clear">
    <p>Lamp is turned on</p></div>