{% extends "layout.html" %}
{% block body %}



    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Media Semantics Place</h4>
         <p class="w3-center"><img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
          <p><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>{{fuck}}</p>
        </div>
      </div>
      <br>
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>It is important!</strong></p>
        <p>Push the microphone button and say your order!</p>
      </div></div>
<!-- Middlelane -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Text here or click microphone</h6>
                <form action="/{{username}}" method="POST">
                    <input  type="text" name="text" contenteditable="true" class="w3-border w3-padding"  id="transcript" placeholder="Text or speak" />
                    <img onclick="javascript:startDictation()" src="https://image.flaticon.com/icons/svg/568/568026.svg"
                         style="width:5%;"/>
                    <br><input type="submit" class="w3-button w3-theme" name="my-form" value="Send" />
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO: Make activity block dynamic-->
        {% include activities %}
    </div>

      <!-- Right lane -->
      <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Lamp [Device: 395]</p>
          <img src="https://image.flaticon.com/icons/svg/201/201867.svg" alt="Lamp" style="width:100%;">
            <p><strong>Turned {{statusLamp}}</strong></p>
        </div>
      </div>
      <br>
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Kettle [Device: 19]</p>
          <img src="https://image.flaticon.com/icons/svg/242/242435.svg" alt="Kettle" style="width:100%;">
            <p><strong>Turned {{statusKettle}}</strong></p>
        </div>
      </div>
      <br>
        </div>
<script>
setTimeout(speak("{{fuck}}"));

</script>
{% endblock %}
