{% extends "layout.html" %}
{% block body %}
<div class="w3-col m3">
    <!-- Profile -->
    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
            <h4 class="w3-center">I worked hard last night, so...</h4>
            <p class="w3-center"><img src="./static/waiting.gif" class="w3-circle"
                                      style="height:100px;width:100px" alt="Avatar"></p>
            <hr>
            <p><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>I will sleep till you enter the system.</p>
        </div>
    </div>
</div>
<div class="w3-col m7">
    <div class="w3-row-padding">

        <div class="w3-card w3-round">
            <div class="w3-white">
                <button onclick="location.href='/father';" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> Father
                </button>
                <button onclick="location.href='/mother';" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> Mother
                </button>
                <button onclick="location.href='/son';" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> Son
                </button>
                <button onclick="location.href='/grandpa';" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                        class="fa fa-users fa-fw w3-margin-right"></i> Grandpa
                </button>
            </div>
        </div>
        <br>
        <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
            <p><strong>{{header}}</strong></p>
            <p>{{Info}}</p>

        </div>
    </div>
</div>
<script>
setTimeout(speak("Hello, please choose your account."));

</script>
{% endblock %}